.header {
  width: 100vw;
  height: 8vh;
  padding: 0 70px;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #BEBCBD;
  gap: 10%;
  position: absolute;

  &-left {
    display: flex;
    align-items: center;
    flex: 0 0 40%;
    justify-content: space-between;

  }

  &-buttons {
    display: flex;
    gap: 30px;
    align-items: center;
    white-space: nowrap;

    app-select {
      margin-right: 20px;
    }
  }

  &-logo {
    max-height: 45px;
  }

  .login, .sign-up {
    color: #8A33FD;
    background: white;
    border: 1px solid #3C4242;
    border-radius: 8px;
    font-family: Causten, serif;
    font-size: 18px;
    text-transform: capitalize;
    padding: 12px 48px;
  }

  .selected {
    color: white;
    background: #8A33FD;
  }
}
