<div class="auth">
  <h1 class="auth-title">Create New Password</h1>

  <p class="auth-description">Your new password must be different from previous used passwords.</p>

  <div class="auth auth-container">
    <app-auth-input
      label="Password"
      type="password"
      [footerTemplate]="footerTemplate"
    >
      <ng-template #footerTemplate>
        <small>Must be at least 8 characters.</small>
      </ng-template>
    </app-auth-input>

    <app-auth-input
      label="Confirm Password"
      type="password"
    ></app-auth-input>
  </div>

  <div class="auth auth-container">
    <button appAuthButton btnMode="fill" routerLink="../sign-in">Reset Password</button>
  </div>
</div>
