<div class="content">
  <div class="content-photo">
  </div>

  <div class="content-buttons">
    <div class="title">
      <h1 id="title">Create New Password</h1>
      <label for="title">Your new password must be different from previous used passwords.</label>
    </div>

    <form autocomplete="on">
      <div class="form-element">
        <div class="form-element__title">
          <label for="password">Password</label>
          <label for="password" (click)="hidePassword()">Hide</label>
        </div>
        <input class="form-element__content" id="password" type="password" [type]="passwordType">
        <label class="form-element__footer" for="password"><a (click)="forgetPassword()">Use 8 or more characters with a mix of letters, numbers & symbols</a></label>
      </div>

      <div class="form-element">
        <label for="password-repeat">Confirm Password</label>
        <input class="form-element__content" id="password-repeat">
        <label class="form-element__footer error-msg" *ngIf="hasError" for="password">{{errorMessage}}</label>
      </div>

      <button class="signin-button" type="submit" (click)="signUp($event)">Reset password</button>
    </form>
  </div>
</div>
