<div class="content">
  <div class="content-photo">
  </div>

  <div class="content-buttons">
    <h1>Sign In Page</h1>
    <button class="btn-google">Continue with google</button>
    <button class="btn-x">Continue with X</button>
    <div class="divider">
      <div class="divider-line"></div>
      <p>OR</p>
      <div class="divider-line"></div>
    </div>
    <form autocomplete="on">
      <div class="form-element">
        <label class="form-element__title" for="email">User name or email address</label>
        <input class="form-element__content" id="email" type="text" autocomplete="username">
      </div>

      <div class="form-element">
        <div class="form-element__title">
          <label for="password">Password</label>
          <label for="password" (click)="hidePassword()">Hide</label>
        </div>
        <input class="form-element__content" id="password" autocomplete="current-password" [type]="passwordType">
        <label class="form-element__footer-end"><a routerLink="../reset">Forget your password</a></label>
      </div>

      <button class="signin-button" type="submit" (click)="signIn($event)">Sign In</button>
      <p>Don’t have an account? <a routerLink="../sign-up">Sign up</a></p>
    </form>
  </div>
</div>
