<div class="header">
  <div class="header-left">
    <div>
      <img class="header-logo" alt="logo" src="/assets/pics/logo.png">
    </div>
    <div>
      <app-search-button></app-search-button>
    </div>
  </div>
  <div class="header-buttons">
    <app-select></app-select>
    <button class="login" routerLink="/auth/sign-in" [ngClass]="{ selected: selectedRoute === 'sign-in' }">login</button>
    <button class="sign-up" routerLink="/auth/sign-up" [ngClass]="{ selected: selectedRoute === 'sign-up' }">sign up</button>
  </div>
</div>
