<div class="content">
  <div class="content-photo">
  </div>

  <div class="content-buttons">
    <div class="title">
      <h1 id="title">Verification</h1>
      <label for="title">Verify your email.</label>
    </div>

    <form autocomplete="on">
      <div class="form-element">
        <label class="form-element__title" for="email">Verification Code</label>
        <input class="form-element__content" id="email" type="number">
      </div>

      <button class="signin-button" type="submit" (click)="verify($event)">Verify Code</button>
    </form>
  </div>
</div>
