.content {
  width: 100vw;
  height: 92vh;
  background: #f6f6f6;
  display: flex;
  overflow-x: hidden;
  font-family: "Causten", sans-serif;

  .title {
    label {
      display: block;
      margin-bottom: 0.5em;
    }
  }

  .content-photo {
    background-image: url("/assets/pics/shop3.jpeg");
    flex-grow: 3;
    background-position: 50% 0;
    background-size: auto 115%;
    background-repeat: no-repeat;
    min-width: 55vw;
    max-width: 55vw;
  }

  .content-buttons {
    flex-grow: 1;
    padding: 1% 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    button {
      display: block;
      width: 100%;
      background: white;
      padding: 16px;
      border-radius: 8px;
      border: 1px solid #3C4242;
      color: #8A33FD;
      text-transform: capitalize;
      font-family: "Causten", sans-serif;
      font-weight: 500;
      font-size: 22px;
    }
  }

  .divider {
    display: flex;
    align-items: center;
    &-line {
      border: 1px solid rgba(102, 102, 102, 0.25);
      max-height: 0;
      width: 100%;
    }
    p {
      text-align: center;
      width: 8em;
    }
  }

  form {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  .form-element {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 18px;

    &__title {
      display: flex;
      justify-content: space-between;
    }

    &__content {
      padding: 16px;
      border-radius: 8px;
      border: 1px solid #3C4242;
      font-size: 22px;
    }

    &__footer-end {
      text-align: end;
      text-decoration-line: underline;
      font-size: 16px;
    }
  }

  .signin-button {
    background: #8A33FD !important;
    color: white !important;

  }

  .error-msg {
    color: red;
  }
}
