<div class="header">
  <div class="header-left">
    <div>
      <img class="header-logo" alt="logo" src="/assets/pics/logo.png">
    </div>
    <nav>
      <ul>
        <li>Shop</li>
        <li>Men</li>
        <li>Women</li>
        <li>Combos</li>
        <li>Joggers</li>
      </ul>
    </nav>
    <div>
      <app-search-button></app-search-button>
    </div>
  </div>
  <div class="header-buttons">
    <div class="button-icon"><img width="25" src="/assets/icons/heart.svg" alt=""></div>
    <div class="button-icon"><img width="25" src="/assets/icons/user.svg" alt=""></div>
    <div class="button-icon"><img width="25" src="/assets/icons/shopping-cart.svg" alt=""></div>
  </div>
</div>
