<div class="auth">
  <h1 class="auth-title">Reset Your Password</h1>

  <div class="auth-description">
    <p>Enter your email and we'll send you a link to reset your password.</p>

    <p>Please  check it.</p>
  </div>

  <app-auth-input
    label="Email address"
    type="email"
    placeholder="designer@gmail.com"
  ></app-auth-input>

  <div class="auth auth-container">
    <button appAuthButton btnMode="fill" routerLink="../verification">Send</button>

    <span>Back to <a routerLink="../sign-in">Log in</a></span>
  </div>
</div>
